/* Quick Selection Table */
.CSSTableGenerator {
    margin:0px;padding:0px;
    width:80%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #ffffff;
    
    -moz-border-radius-bottomleft:12px;
    -webkit-border-bottom-left-radius:12px;
    border-bottom-left-radius:12px;
    
    -moz-border-radius-bottomright:12px;
    -webkit-border-bottom-right-radius:12px;
    border-bottom-right-radius:12px;
    
    -moz-border-radius-topright:12px;
    -webkit-border-top-right-radius:12px;
    border-top-right-radius:12px;
    
    -moz-border-radius-topleft:12px;
    -webkit-border-top-left-radius:12px;
    border-top-left-radius:12px;
    visibility: hidden;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright:12px;
    -webkit-border-bottom-right-radius:12px;
    border-bottom-right-radius:12px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:12px;
    -webkit-border-top-left-radius:12px;
    border-top-left-radius:12px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:12px;
    -webkit-border-top-right-radius:12px;
    border-top-right-radius:12px;
}.CSSTableGenerator tr:last-child td:first-child{
    -moz-border-radius-bottomleft:12px;
    -webkit-border-bottom-left-radius:12px;
    border-bottom-left-radius:12px;
}.CSSTableGenerator td:hover{
    background-color:#ffff45;
    opacity:0.5;
}
.CSSTableGenerator td{
    vertical-align:middle;
    
    background-color:#fcffba;

    border:1px solid #ffffff;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:1px;
    font-size:10px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
    border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
        background:-o-linear-gradient(bottom, #e09c12 5%, #e09c12 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e09c12), color-stop(1, #e09c12) );
    background:-moz-linear-gradient( center top, #e09c12 5%, #e09c12 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09c12", endColorstr="#e09c12");  background: -o-linear-gradient(top,#e09c12,0057af);

    background-color:#e09c12;
    border:0px solid #ffffff;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#000000;
    opacity:0.5;
}
.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #e09c12 5%, #e09c12 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e09c12), color-stop(1, #e09c12) );
    background:-moz-linear-gradient( center top, #e09c12 5%, #e09c12 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e09c12", endColorstr="#e09c12");  background: -o-linear-gradient(top,#e09c12,0057af);

    background-color:#e09c12;
}
.CSSTableGenerator tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}


